:root {
  --white: #fcf7ff;
  --light: #17bebb;
  --blue: #30638e;
  --dark: #003d5b;
  --black: #220c10;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--blue);
  color: var(--white);
}

header a {
  color: var(--white);
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 35px;
}

.nav {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: var(--white);
  font-size: 25px;
}

.hello {
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  background-color: var(--white);
}

.hello span {
  color: var(--light);
  font-size: 100px;
}

.about img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
}

.about p {
  font-size: 25px;
}

.about-body {
  display: flex;
  align-items: center;
  width: 70%;
  gap: 90px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.project-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  font-size: 20px;
  gap: 10px;
}

.project-buttons {
  display: flex;
  gap: 20px;
}

.project img {
  width: 850px;
}

.footer {
  background-color: var(--blue);
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.footer ul a {
  color: var(--white);
}

.button {
  background-color: var(--white);
  border: 1px solid #222222;
  border-radius: 50px;
  box-sizing: border-box;
  color: var(--black);
  cursor: pointer;
  display: inline-block;
  font-size: 23px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button:hover {
  background-color: var(--light);
}


.button:active {
  background-color: var(--light);
  border-color: #000000;
  transform: scale(.96);
}
