:root {
  --white: #fcf7ff;
  --light: #17bebb;
  --blue: #30638e;
  --dark: #003d5b;
  --black: #220c10;
}

body {
  overflow: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--blue);
  color: var(--white);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

.nav {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: var(--white);
  font-size: 25px;
}

.hello {
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  background-color: var(--white);
}

.hello span {
  color: var(--light);
}

img {
  width: 10%;
  height: 10%;
  border-radius: 50%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.about p {
  font-size: 30px;
}

.footer {
  background-color: var(--dark);
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.footer ul a {
  color: var(--white);
}
