:root {
  --white: #fcf7ff;
  --light: #17bebb;
  --blue: #30638e;
  --dark: #003d5b;
  --black: #220c10;
}

* {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--blue);
  color: var(--white)
}

h1 {
  font-size: 40px;
}

.nav {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: var(--white);
  font-size: 25px;
}

.footer {
  background-color: var(--dark);
}

.footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.footer ul a {
  color: var(--white);
}
